body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "montserrat";
  background-color: #1b2430;
  margin: 20px 200px 20px 200px;
}
